/* main screen */

section.exchange_main {}
section.exchange_main fieldset {
    padding: 1em;
}
section.exchange_main legend {
    padding: 0 0.5em;
}
section.exchange_main p.exchange_buttons {
    margin: 1em 0;
    display: flex;
    justify-content: space-around;
}

/* info screen */

section.exchange_plugininfo {}
